numpy
pandas
matplotlib
seaborn
scikit-learn
scipy
opencv-python
Pillow
jupyter
notebook

# Deep Learning
torch
torchvision
torchaudio

# Visualization & utilities
tqdm

# GUI / Web Demo
streamlit

# Saving/loading models
joblib

# Heatmap interpolation
scikit-image

# plotting
plotly


